.melyna {
	background-color: #03cafc;
}
.zalia {
	background-color: #03fcbe;
}
.mazesne {
	height: 200px;
}
.didele {
	height: 600px;
}
.didesne {
	height: 400px;
}
.maza {
	height: 194px;
}
.vidurinis {
	height: 615px;
}